 {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>newmobiles</title>
    <link  rel="stylesheet"   href="{%  static 'mobiles.css'%}"/>
</head>

<body>
   
    
<div >
    <center>
        
        {% for i in mob %}
<div class= "mobile">
           <div class="mob">
               <img src="i.image" />
           </div>
           <div class="mobile_in">
            <table  cellpadding="3px" >
               
                <td><label>Name_of_item :</label></td><br></br>
                <td>{{i.mobile_company}}</td>
                <tr><td><label>model :</label></td>
                <td><h3>{{i.mobilename}}</h3></td>
                <tr><td><label>product discription :</label></td>
               <td> <p>{{i.description}}</P></td></tr>
                <tr><td><label>price :</label></td>
                <td><strong>{{i.price }}</strong></td></tr>
                <tr><td><label>old</label></td>
                <td> <strike>old_price_rat</strike></td></td></tr>
   
   
           </table>
           
          <button name="add" >Add to cart</button> 
          
          <button name="buy">BUY now</button>
        </div>
    </div>
        {% endfor %}
    </center>

</div>

</body>

</html>